<div id="projects">
    <h1 class="page-header"><strong>RECENT PROJECTS</strong></h1>
    <div class="project-container">
        <% data.projects.recent.each do |project| %>
            <figure class="project">
                <%= image_tag project.image, class: "img-responsive max-width" %>
                <a href="<%= project.url %>" target="_blank">
                    <figcaption class="project-caption">
                        <i class="fa fa-search fa-2x"></i>
                        <p><strong><%= project.title %></strong></p>
                        <p>
                            <%= project.description %>
                        </p>
                    </figcaption>
                </a>
            </figure>
        <% end %>
    </div>
    
    <h1 class="page-header"><strong>PAST PROJECTS</strong></h1>
    <div class="project-container">
        <% data.projects.past.each do |project| %>
            <figure class="project">
                <%= image_tag project.image, class: "img-responsive max-width" %>
                <a href="<%= project.url %>" target="_blank">
                    <figcaption class="project-caption">
                        <i class="fa fa-search fa-2x"></i>
                        <p><strong><%= project.title %></strong></p>
                        <p>
                            <%= project.description %>
                        </p>
                    </figcaption>
                </a>
            </figure>
        <% end %>
    </div>
</div>